.vip-badge-icon {
  background-size: 300% 100%;
  background-image: linear-gradient(135deg, #ffd700, #ffed4e, #ffd700, #ffed4e);
  color: #8a6d00;
  padding: 0 4px;
  margin: 0 2px;
  border-radius: 4px;
  border: 1px solid #e6c200;
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
  font-weight: bold;
  font-size: 0.8em !important;

  svg {
    color: #8a6d00 !important;
  }

  &:hover {
    background-position: right;
    transition: background-position 0.3s ease-in-out;
  }
}
